<h2><?= $block->getContent(); ?></h2>
<table>
    <?php foreach ($block->getSampleCollection() as $sampleItem) { ?>
       <tr>
        <?php foreach ($sampleItem->getData() as $sampleParam) { ?>
            <td>
                <?=$sampleParam?>
            </td>
        <?php } ?>
       </tr>
    <?php } ?>
</table>