<li class="level0 category-item last level-top ui-menu-item">
    <a class="level-top ui-corner-all" href="<?php echo $block->getHref() ?>">
        <?php echo $block->getLabel() ?>
    </a>
</li>